@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Black";
  src: url("./assets/fonts/Raleway-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("./assets/fonts/Raleway-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("./assets/fonts/Raleway-Medium.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway-Medium", sans-serif;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  font-family: "Raleway-Medium", sans-serif;
  width: 100%;
  max-width: 992px;
  display: flex;
  justify-content: space-between;
  /* background-color: rgba(0, 128, 0, 0.22); */
  /* align-items: center; */
}

main {
  width: 100%;

  max-width: 992px;
  /* background-color: rgba(0, 0, 255, 0.327); */
}

::placeholder {
  font-family: "Raleway-ExtraBold";
  color: black;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: 20px;
}

h1 {
  font-family: "Raleway-ExtraBold";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

h2 {
  font-family: "Raleway-ExtraBold";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

h3 {
  font-family: "Raleway-ExtraBold";
  font-size: 12px;
  margin-bottom: 3px;
}

h4 {
  font-family: "Raleway-ExtraBold";
  font-size: 13px;
  margin-bottom: 3px;
}

h4 {
  font-family: "Raleway-ExtraBold";
  font-size: 14px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#logo {
  margin-top: 18px;
  margin-left: 15px;
  height: 35px;
}
#blocnavbar {
  width: 257px;
  padding-right: 21px;
}
#navbar {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 15px;
  width: 300px;
  justify-content: space-around;
}

#hebergementnav {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top: 35px;
}
#hebergementnav:hover {
  border-top: solid 2px #0065fc;
}
#activitesnav {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-top: 35px;
}
#activitesnav:hover {
  border-top: solid 2px #0065fc;
}

#titre {
  margin-left: 4px;
  margin-top: 21px;
}

#searchbar {
  display: flex;
  margin-top: 14px;
  margin-left: 3px;
  border-spacing: 50px;
  height: 36px;
}

#search1 {
  display: flex;
  width: 20px;
  border-radius: 10px 0px 0px 10px;
  padding: 0px 7px;

  height: 42px;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
}

#search2 {
  padding-left: 13px;

  color: black;
  font-weight: bold;
  height: 40px;
  width: 173px;
  left: 30px;
  border: solid 1px #f2f2f2;
}
#search3 {
  display: flex;
  font-size: 13px;
  margin-left: -1px;
  border-left: solid 1px #ffffff;
  border-top: solid 1px #0065fc;
  border-right: solid 1px #0065fc;
  border-bottom: solid 1px #0065fc;

  background: #f2f2f2;
  height: 42px;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  width: 99px;
  justify-content: center;
  background-color: #0065fc;
  color: white;
  /* border: solid 1px #f2f2f2; */
}

#filtre {
  font-family: "Raleway-ExtraBold";
  color: black;
  font-size: 13px;
  display: flex;
  width: 100%;
  margin-top: 28px;
  margin-left: 10px;
  font-weight: bold;
  align-items: center;
  justify-content: flex-start;
}

.filtre {
  display: flex;
  position: relative;
  height: 40px;
  width: 200px;
  justify-content: flex-start;
}

.filtre1 {
  display: flex;
  background: #deebff;
  color: #0065fc;
  height: 38px;
  width: 38px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.filtre2 {
  display: flex;
  position: absolute;
  /* left: 20px; */
  height: 34px;
  padding: 0px 16px 0px 46px;
  border: solid 2px #d9d9d9;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 30px;
}

#filtre1 {
  width: 63px;
}

#filtre2 {
  width: 165px;
}

#filtre3 {
  width: 136px;
}

#filtre4 {
  width: 163px;
}

#filtre5 {
  width: 208px;
}

#information {
  margin-left: 7px;
  display: flex;
  margin-top: 21px;
  margin-bottom: 21px;
  font-size: 15px;
  width: 100%;
  align-items: center;
}

#information1 {
  display: flex;
  height: 15px;
  width: 15px;
  margin-right: 9px;
  border: solid 1px #f2f2f2;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #0065fc;
}

#information2 {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 11px;
  display: flex;
  height: 20px;
  align-items: center;
}

.hebergementpopulaire {
  display: flex;
  justify-content: space-between;
  height: 463px;
}

.hebergement {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 15px;
  width: 651px;
  height: 463px;
}

#hebergementtitre {
  margin: 33px 0px 6px 30px;
}

#cardshebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 618px;
  height: 338px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 17px;
}

.carhebergement {
  background: white;
  width: 182px;
  margin: 12px;
  height: 147px;
  z-index: 3;
  font-size: 13px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.imgcardhebergement {
  width: 174px;
  height: 84px;
  border-radius: 14px 14px 0px 0px;
  margin: 4px;
}

#imgcardhebergement1 {
  background-position: 30% 50%;
  background-image: url("./assets/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#imgcardhebergement2 {
  background-position: 90% 70%;
  background-image: url("./assets/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#imgcardhebergement3 {
  background-position: 60% 80%;
  background-image: url("./assets/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#imgcardhebergement4 {
  background-position: 100% 60%;
  background-image: url("./assets/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#imgcardhebergement5 {
  background-position: center;
  background-image: url("./assets/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#imgcardhebergement6 {
  background-position: 70% 55%;
  background-image: url("./assets/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#footercardsheb {
  margin: 21px 32px;
}

.titretxth {
  padding-left: 12px;
  margin-top: 8px;
}
.textcardshebergement {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 11px;
}
.star {
  font-size: 9px;
  margin-top: 3px;
  color: #0065fc;
}
#gris {
  color: #d9d9d9;
}
.populaire {
  background: #f2f2f2;
  border-radius: 15px;
  width: 310px;
  height: 463px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#cardspopulaire {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 254px;
  height: 390px;
  display: flex;
  bottom: 13px;
  margin: 0px 28px;
}
#titrepopulaire {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#populairetitre {
  margin: 33px 0px 6px 30px;
}

#etoiletitre {
  font-size: 15px;
  margin-right: 30px;
  margin-top: 24px;
}

.cardpopulaire {
  display: flex;
  flex-direction: row;
  background: white;
  width: 254px;
  height: 106px;
  margin: 12px 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.imgcardpopulaire {
  width: 94px;
  height: 98px;
  margin: 4px;
  border-radius: 13px 0px 0px 13px;
}

#imgcardpopulaire1 {
  background-position: center;
  background-image: url("./assets/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#imgcardpopulaire2 {
  background-position: bottom;
  background-image: url("./assets/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#imgcardpopulaire3 {
  background-position: center;
  background-image: url("./assets/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.descriptioncardspopulaire {
  width: 120px;
  height: 106px;
  padding-top: 13px;
  margin-left: 11px;
}

.textcardspopulaire {
  font-family: "Raleway-Regular", sans-serif;
  font-size: 11px;
  padding-bottom: 2px;
  margin-top: 9px;
}

#starspopulaire {
  margin-top: 23px;
  font-size: 9px;
  color: #0065fc;
}

.activites {
  margin-top: 46px;
  width: 992px;
}
.blocsactivites {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  width: 992px;
  height: 329px;
}

.nomsblocs {
  margin-left: 14px;
  margin-top: 15px;
}

.blocactivites1 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 329px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg1 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 288px;
  background-position: center;
  background-image: url("./assets/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#blocactivites2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 223px;
  height: 329px;
}

.blocactivites21 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 174px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg21 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 133px;
  background-position: center;
  background-image: url("./assets/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

.blocactivites22 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 122px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg22 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 81px;
  background-position: center;
  background-image: url("./assets/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

.blocactivites3 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 329px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg3 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 288px;
  background-position: center;
  background-image: url("./assets/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#blocactivites4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 223px;
  height: 329px;
}

.blocactivites41 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 144px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg41 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 103px;
  background-position: center;
  background-image: url("./assets/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

.blocactivites42 {
  background-color: white;
  border-radius: 15px;
  width: 223px;
  height: 155px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

.activitesimg42 {
  border-radius: 15px 15px 0px 0px;
  width: 223px;
  height: 113px;
  background-position: center;
  background-image: url("./assets/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

footer {
  margin-top: 45px;
  background: #f2f2f2;
  width: 100%;
  max-width: 1066px;
  padding-top: 45px;
  height: 161px;
}
.blocsfooter {
  display: flex;
  width: 992px;
  margin-left: 37px;
}

.blocfooter1 {
  margin-right: 169px;
}
.blocfooter2 {
  margin-right: 216px;
}
.txtfooter {
  margin-top: 20px;
}
.txt {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  .hebergementpopulaire {
    flex-direction: column-reverse;
    justify-content: flex-start;
    width: 100%;
    max-width: 992px;
    height: 663px;
  }

  .hebergement {
    width: 100%;
    max-width: 992px;
    display: flex;
    background-color: white;
  }
  .populaire {
    width: 100%;
    max-width: 992px;
    display: flex;
    height: 200px;
    justify-content: space-between;
  }
  #cardspopulaire {
    width: 100%;
    max-width: 992px;
    height: 130px;
    display: flex;
    flex-direction: row;
    margin: 0px;
    justify-content: space-around;
  }

  #cardshebergement {
    margin: 0px;
    width: 100%;
    max-width: 992px;
  }
  .carhebergement {
    margin: 12px 20px;
  }

  .activites {
    margin-top: 12px;
    width: 100%;
    max-width: 992px;
  }
  .blocsactivites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 18px;
    width: 100%;
    max-width: 992px;
    height: 1400px;
  }
  #titreactivites {
    margin: 0px 30px;
  }
  #blocactivites2 {
    align-items: center;
    width: 100%;
    max-width: 992px;
    height: 400px;
    margin-bottom: 50px;
  }

  #blocactivites4 {
    align-items: center;
    width: 100%;
    max-width: 992px;
    height: 400px;
  }

  .blocactivites {
    width: 700px;
    height: 200px;
    margin-bottom: 50px;
  }
  .activitesimg {
    width: 700px;
    height: 150px;
  }
  footer {
    margin-top: 45px;
    background: #f2f2f2;
    width: 100%;
    max-width: 1066px;
    padding-top: 45px;
    height: 161px;
  }
  .blocsfooter {
    display: flex;
    width: 100%;
    max-width: 992px;
    margin-left: 37px;
  }

  .blocfooter1 {
    margin-right: 119px;
  }
  .blocfooter2 {
    margin-right: 166px;
  }
  .txtfooter {
    margin-top: 20px;
  }
  .txt {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  main {
    width: 100%;

    max-width: 768px;
    /* background-color: rgba(0, 0, 255, 0.327); */
  }
  header {
    font-family: "Raleway-Medium", sans-serif;
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0, 128, 0, 0.22); */
    /* align-items: center; */
  }

  #logo {
    margin-top: 18px;
    margin-left: 20px;
    height: 40px;
  }
  #navbar {
    margin-right: 0px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    max-width: 768px;
    justify-content: space-around;
  }
  #blocnavbar {
    width: 100%;
    max-width: 768px;
  }

  #hebergementnav {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #f2f2f2;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  #hebergementnav:hover {
    border-bottom: solid 2px #0065fc;
    border-top: none;
  }

  #activitesnav {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #f2f2f2;
    width: 50%;
    padding-top: 15px;
  }
  #activitesnav:hover {
    border-bottom: solid 2px #0065fc;
    border-top: none;
  }

  #titre {
    margin-left: 4px;
    margin-top: 21px;
  }

  .hebergementpopulaire {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    height: 1573px;
  }
  .populaire {
    width: 100%;
    max-width: 768px;
    height: 480px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #cardspopulaire {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 768px;
    align-items: center;
    height: 400px;
    justify-content: flex-start;
    margin-top: 200px;
  }
  .cardpopulaire {
    display: flex;
    flex-direction: row;
    background: white;
    width: 90%;
    max-width: 454px;
    min-width: 224px;
    height: 106px;
    margin: 12px 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }
  .imgcardpopulaire {
    width: 114px;
    height: 98px;
    margin: 4px;
    border-radius: 13px 0px 0px 13px;
  }
  #filtre {
    font-family: "Raleway-ExtraBold";
    color: black;
    font-size: 13px;
    display: flex;
    width: 100%;
    min-width: 301px;
    height: 130px;
    margin-top: 28px;
    margin-left: 10px;
    font-weight: bold;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  #filtre1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .hebergement {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    width: 100%;
    max-width: 768px;
    min-width: 224px;
    height: 1263px;
  }

  .carhebergement {
    background: white;
    width: 90%;
    max-width: 454px;
    min-width: 224px;
    height: 106px;
    margin: 12px;
    height: 147px;
    z-index: 3;
    font-size: 13px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  }

  #cardshebergement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 768px;
    min-width: 224px;
    height: 1038px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  .imgcardhebergement {
    margin: 3px auto;
    width: 98%;
    max-width: 454px;
    min-width: 224px;
    height: 84px;
    border-radius: 14px 14px 0px 0px;
  }
  .blocsactivites {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
    width: 100%;
    max-width: 768px;
    min-width: 224px;
    height: 1038px;
  }
  .blocactivites {
    width: 90%;
    max-width: 454px;
    min-width: 224px;
    height: 106px;
    margin: 12px;
    height: 147px;
  }
  .activitesimg {
    margin: 3px auto;
    width: 98%;
    max-width: 454px;
    min-width: 224px;
    height: 84px;
  }
  #blocactivites2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    min-width: 224px;
    height: 329px;
    margin-bottom: 0px;
  }
  #blocactivites4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 768px;
    min-width: 224px;
    height: 329px;
    margin-bottom: 0px;
  }
  footer {
    margin-top: 25px;
    background: #f2f2f2;
    width: 100%;
    max-width: 768px;
    padding-top: 45px;
    height: 364px;
  }
  .blocsfooter {
    display: flex;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-width: 768px;
    margin-left: 37px;
  }

  .blocfooter1 {
    margin-right: 119px;
    margin-bottom: 20px;
  }
  .blocfooter2 {
    margin-right: 166px;
    margin-bottom: 20px;
  }
  .blocfooter3 {
    margin-right: 166px;
    margin-bottom: 20px;
  }
  .txtfooter {
    margin-top: 20px;
  }
  .txt {
    margin-bottom: 15px;
  }
}
